#Tools4Dev
export Tools4Dev_PATH="$T4D_ROOT_PATH/src"
_OLDPWD=$PWD

if [[ -f "$_OLDPWD/project.env" ]]; then
   source "$_OLDPWD/project.env"
elif [[ -f $Tools4Dev_PATH/tools4Dev.env ]]; then
   source $Tools4Dev_PATH/tools4Dev.env
   t4dLoadCompletion
   cd $_OLDPWD
fi
